# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook files and checkpoints
*.ipynb
.ipynb_checkpoints/

# PDF files
*.pdf

# Environments & IDEs
.env
.venv
env/
venv/
.vscode/
.idea/
